<body class="" data-action="pjActionCustom1" data-page="reservations" data-editor="http://trials.vevs.website/web-demo/car-parking-website/index.php?controller=pjCmsEditor&amp;action=pjActionLoadScript&amp;web_page_id=13&amp;locale_id=4&amp;fields=front_fields&amp;template=template_1">
    <div class="wrapper">
<div class="hero-section cms-e-section" style="background-image: url(&quot;http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/1920x400-137-1578941898.jpg&quot;);">
<img src="http://trials.vevs.website/web-demo/car-parking-website/app/web/upload/medium/1920x400-137-1578941898.jpg" alt="" title="" data-id="137" class="hero-img hidden wc-image">

<div class="container">
    <h1 class="h1"><span class="wc-editable" data-pk="custom_68c1de49669a4eb915213084a137296a" data-type="text">{{'PRICE.titre' | translate }}</span></h1>
    <div class="paragragh"><span class="wc-editable" data-pk="custom_ff93be33d81a3716cbb7bd43b11015ee" data-type="plaintext"></span></div>
</div>
</div>

<div class="section">
<div class="container">
    <div class="section-content">
    <div id="pjCpContainer"><div class="row">
<div >
    <div class="form cms-e-section">
		<section id="prices">
			<div class="container"> 
				 <div class="prices-box">
					<div class="row">
				   
					 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 price-table aos-init aos-animate" data-aos="fade-right">
					 
						  <div class="top-content text-center">
						  
							  <div class="title">
								  <h3>{{'PRICE.normal' | translate }}</h3>
							  </div>
							  
							
							  
							  <a class="btn btn-default" routerLink="/reserve">{{'HOME.Books' | translate }}</a>
							  
						   </div>
						   <div class="bottom-content text-center">
							<ul class="features list-unstyled">
								<li>{{'PRICE.security' | translate }}</li>
								<li>{{'PRICE.protection' | translate }}</li>
								<li>{{'PRICE.safety' | translate }}</li>
							</ul>
						 </div>
						   
						
						   
					  </div>
					  
					  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 price-table aos-init aos-animate" data-aos="fade-up">
					 
						  <div class="top-content text-center">
						  
							  <div class="title">
								  <h3>{{'PRICE.covered' | translate }}</h3>
							  </div>
							  
							
							  
							  <a class="btn btn-default" routerLink="/reserve">{{'HOME.Books' | translate }}</a>
							  
						   </div>
						   
						   <div class="bottom-content text-center">
							  <ul class="features list-unstyled">
								<li>{{'PRICE.security' | translate }}</li>
								<li>{{'PRICE.protection' | translate }}</li>
								<li>{{'PRICE.safety' | translate }}</li>
								  <li>{{'PRICE.rain' | translate }}</li>
								  <li>{{'PRICE.sun' | translate }}</li>
		
								  
							  </ul>
						   </div>
						   
					  </div>
					  
					  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 price-table aos-init aos-animate" data-aos="fade-left">
					 
						  <div class="top-content text-center">
						  
							  <div class="title">
								  <h3>{{'PRICE.Professional' | translate }}</h3>
							  </div>
							  
							
							  
							  <a class="btn btn-default" routerLink="/reserve">{{'HOME.Books' | translate }}</a>
							  
						   </div>
						   <div class="bottom-content text-center">
							<ul class="features list-unstyled">
								<li>{{'PRICE.security' | translate }}</li>
								<li>{{'PRICE.protection' | translate }}</li>
								<li>{{'PRICE.safety' | translate }}</li>
								<li>{{'PRICE.rain' | translate }}</li>
								<li>{{'PRICE.sun' | translate }}</li>
								<li>{{'PRICE.basement' | translate }}</li>
							</ul>
						 </div>
						
						   
					  </div>
						 
					 </div> 
				  </div>  
				  
			  </div>
		  </section>
    </div>			
</div>
</div>
</div>		</div>
</div>
</div>   <footer class="footer" id="section-contact">
	<div class="footer-nav">
		<div class="container cms-e-section">
			<ul>
				<li><a routerLink="/map">{{'HOME.Start' | translate }}</a></li>
				<li><a routerLink="/reserve">{{'HOME.Reservations' | translate }}</a></li>
				<li><a routerLink="/pres">{{'HOME.Locations' | translate }}</a></li>
				<li><a routerLink="/price">{{'HOME.Price' | translate }}</a></li>
				<li><a routerLink="/contact"> {{'HOME.Contact' | translate }}</a></li>
								</ul>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<p class="copyright cms-e-section" data-quick="" data-quick2="company" data-title-quick2="Company Details">© 2020 <a href="./"><span class="wc-editable" data-pk="ws_car_name" data-type="text">enetcom</span></a> | <span class="wc-editable" data-pk="ws_rights_reserved" data-type="text">All rights reserved</span></p>
	
					<p class="credits credits-secondary"><a href="https://www.3s.com.tn/en/" target="_blank" rel="noopener">Treetronix's parking</a> </p>				</div>
									<div class="col-sm-6 col-xs-12 text-right">
						<ul class="socials socials-secondary cms-e-section" data-quick2="social" data-title-quick2="Social Media Profiles">
							<li><a href="https://www.facebook.com/treetronix/?ref=br_rs" target="_blank" class="ico" rel="noopener"><i class="fa fa-facebook"></i></a></li><li><a href="https://twitter.com" target="_blank" class="ico" rel="noopener"><i class="fa fa-twitter"></i></a></li><li><a href="https://www.linkedin.com/company/treetronix/" target="_blank" class="ico" rel="noopener"><i class="fa fa-linkedin"></i></a></li><li><a href="https://www.instagram.com" target="_blank" class="ico" rel="noopener"><i class="fa fa-instagram"></i></a></li><li><a href="https://www.pinterest.com" target="_blank" class="ico" rel="noopener"><i class="fa fa-pinterest"></i></a></li>						</ul>
					</div>
								</div>
		</div>
	</div>
	</footer>	
</div>


<div>
    			<div class="pj-signup-inner">
            
            <div class="pj-signup-col pj-signup-support">
                
                
                

            
            </div>
            <div class="pj-signup-col pj-signup-action">
                
            </div>
        </div>
        </div></body>  