body {
  background-color: #E3DEDF;
  height: 350px;
  width: 1000px;
}

.m {
  margin-left: 30%;
  margin-right: 30%
}


.h3 {
 margin-left: 15%;
  
}

.pasdereser {
  background-color: #E3DEDF;
  height: 150px;
  width: 300px;
}