li {
    margin-right: 10px;

    text-align: center !important;
    display:inline-block;
}

a {
    text-align: center !important;
    color: white;
    font-size: small;
    margin-top: 12px;
}
.navbar {
    margin-bottom: 0 !important;
    text-align: center !important;
    width: 100%;
    margin: 0 auto;
    
}

div {
    margin-bottom: 0 !important;
    text-align: center !important;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    float: none;
    vertical-align: top;
}
p {
    color: white;
    font-size: medium;
    text-align: center;
}
ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}

