<body>
    <h3>{{'CHAT.opinion' | translate }}</h3>
<div style="text-align:center;">
    <star-rating value="0" totalstars="7" checkedcolor="red" mat-button mat-dialog-close mat-dialog-close="true" uncheckedcolor="black" size="35px" readonly="false" (click)="onRate($event)"></star-rating>
</div>
<div > 
<button mat-button mat-dialog-close mat-dialog-close="true"style="text-align:center;" > {{'CHAT.rem' | translate }} </button>
<p style="text-align:center;font-size: medium;">{{'CHAT.prr' | translate }}</p>

</div>

</body>